@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/*  Estilos en INDEX*/
/*HEADER*/
.logo__img {
  width: 15rem;
}

.nav__menu--enlace {
  color: #01053d;
  text-decoration: none;
  font-size: 1.9rem;
  font-style: none;
  padding: 1rem;
}

.nav__menu--enlace:hover {
  color: #0629f1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.asesoramiento1 {
  font-size: 5rem;
  color: black;
}

.descripcion {
  font-size: 2rem;
  color: black;
  font-style: italic;
}

@media (max-width: 700px) {
  .asesoramiento1, .descripcion {
    display: none;
  }
}

/*SECCION PORTADA*/
html, body {
  height: 100%;
}

.body {
  display: -ms-grid;
  display: grid;
  font-family: Avenir, sans-serif;
  color: black;
}

.a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
  color: black;
  text-decoration: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(0, 0, 0, 0.5);
  width: 56px;
  height: 56px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #2e2b2b83;
}

.cta:hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cta:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.portada--foto {
  width: auto;
  height: auto;
  opacity: 35%;
}

.portada {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.portada--texto {
  position: absolute;
  top: 3rem;
  left: 2rem;
  font-size: 2rem;
  color: black;
  font-family: 'Dongle', sans-serif;
}

.h2 {
  font-size: 40rem;
}

.portada--boton {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-100%, -10%);
          transform: translate(-100%, -10%);
  text-decoration: none;
  font-size: 6rem;
  padding: 0.5rem;
  border: 2px solid white;
  border-radius: 5px;
  color: black;
  -webkit-box-shadow: 2px 4px black;
          box-shadow: 2px 4px black;
}

.portada--boton:hover {
  background-color: black;
  color: wheat;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* ESTILO SERVICIOS */
@media (max-width: 700px) {
  .portada--texto {
    position: absolute;
    top: 3rem;
    left: 0.2rem;
    right: 0.2rem;
    font-size: 1rem;
    color: black;
    font-family: 'Dongle', sans-serif;
  }
  .portada--boton {
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-100%, -10%);
            transform: translate(-100%, -10%);
    text-decoration: none;
    font-size: 10rem;
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 5px;
    color: red;
    -webkit-box-shadow: 2px 4px black;
            box-shadow: 2px 4px black;
  }
  .portada--boton:hover {
    background-color: black;
    color: wheat;
    -webkit-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;
  }
}

/*MAIN*/
/*UTILICE EXTEND*/
.main--raise, .main--empresas {
  background-color: none;
  --color:#000000;
  --hover:#0051ff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Dongle', sans-serif;
  font-size: 5rem;
  margin-bottom: 10rem;
  -webkit-box-shadow: 0 0.5em 0.5em -0.3em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.3em var(--hover);
}

/*SERVICIOS*/
/*UTILICÉ MIXIN*/
.main {
  height: 70%;
  width: auto;
}

/* 
  .servicios--imagen {
    width: 50%;
    opacity: initial;
    transition: all 3s;
    filter: opacity(80%);
  
    &:hover {
      transform: scale(0.5, 0.5);
      filter: opacity(100%);
    }
  } */
.list-group-item {
  font-size: large;
  width: auto;
  height: auto;
}

.card {
  padding: 2px;
  font-size: xx-large;
  width: auto;
  height: auto;
  border: 2px solid black;
  border-radius: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-title {
  font-size: xx-large;
  padding: 20px;
}

.card-img-top {
  width: 100px;
  height: 350px;
  padding: 40px;
  margin: 2px;
}

.card-btn {
  --color:#000000;
  --hover:#0051ff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: auto;
  -webkit-box-shadow: 0 0.5em 0.5em -0.3em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.3em var(--hover);
  text-decoration: none;
}

.imagen:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.preg {
  --color:#000000;
  --hover:#000000;
  font-size: 2rem;
  -webkit-box-shadow: 0 0.5em 0.5em -0.3em var(--hover);
          box-shadow: 0 0.5em 0.5em -0.3em var(--hover);
}

/*FOOTER*/
/*map-get*/
.footer {
  text-align: center;
}

.footer__parrafo {
  color: white;
  background-color: #000;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.footer__copyright {
  color: grey;
  font-size: 1rem;
  padding: 1rem;
}

.footer__ssn {
  margin-top: 25px;
  width: 100%;
  height: auto;
}

.footer__privacidad {
  font-size: large;
  text-decoration: none;
}

/* contacto.HTML y cotizacion.HTML*/
.formulario {
  width: 35rem;
  padding: 2rem;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#010a61));
  background-image: linear-gradient(white, #010a61);
  text-align: center;
  --color:#000000;
  --hover:#0004ff;
  font-size: 10px;
  -webkit-box-shadow: 0 0.2em 3em -0.1em var(--hover);
          box-shadow: 0 0.2em 3em -0.1em var(--hover);
}

.formulario__h1 {
  color: #021d53;
  font-family: 'Dongle', sans-serif;
  -webkit-animation: fadeInTopLeft;
          animation: fadeInTopLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.formulario__titulo {
  width: 10rem;
  font-weight: bold;
  display: inline-block;
  font-size: 1.5rem;
}

.formulario__titulo--campo {
  width: 20rem;
  padding: 1px;
  border: 1px solid #535353;
  border-radius: 3px;
  background-color: #f6f6f6;
  display: inline-block;
  margin: 0.5rem;
}

.formulario__boton {
  width: 100%;
  padding: 8px 16px;
  margin-top: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

.formulario__boton:hover {
  color: gray;
}

.formulario__texto {
  width: 100%;
  height: 100px;
  border: 1px solid #535353;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  resize: none;
  display: block;
}

.formulario__titulo--newsletter {
  font-size: 1.5rem;
  text-align: left;
  margin: 1rem;
  font-weight: bold;
  display: inline-block;
  font-size: 1.5rem;
}

.formulario__radio--gnc, .formulario__radio--0km {
  font-size: 1.3rem;
  padding: 5px;
}

.formulario__radio {
  font-size: 1.5rem;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formulario__select {
  border: 1px solid #535353;
  border-radius: 3px;
}

/* BOTON WHATSAPP */
.btn-whatsapp {
  display: block;
  width: 70px;
  height: 70px;
  color: black;
  position: fixed;
  right: 20px;
  bottom: 140px;
  border-radius: 50%;
  line-height: 80px;
  text-align: right;
  z-index: 100;
}
/*# sourceMappingURL=estilo.css.map */